<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body data-page="<%= typeof page !== 'undefined' ? page : '' %>">
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        
        <% if (message && message.length) { %>
            <div class="flash-message"><%= message[0] %></div>
        <% } %>
        
        <main>
            <%- body %>
        </main>

        <%- include('../partials/footer') %>
    </div>  
</body>
</html>