<% /* Delete Inventory Confirmation View */ %>

<h1>Delete <%= inv_make %> <%= inv_model %></h1>

<p class="warning-text"> Confirm Deletion - This action is permanent and cannot be undone.</p>

<% if (message && message.length > 0) { %>
  <div class="flash-message"><%= message[0] %></div>
<% } %>

<% if (errors && errors.length > 0) { %>
  <div class="error-box">
    <ul>
      <% errors.forEach(err => { %>
        <li><%= err.msg %></li>
      <% }) %>
    </ul>
  </div>
<% } %>

<form action="/inv/delete" method="POST" class="form-container">
  <label for="inv_make">Make</label>
  <input type="text" id="inv_make" name="inv_make" value="<%= inv_make %>" readonly>

  <label for="inv_model">Model</label>
  <input type="text" id="inv_model" name="inv_model" value="<%= inv_model %>" readonly>

  <label for="inv_year">Year</label>
  <input type="number" id="inv_year" name="inv_year" value="<%= inv_year %>" readonly>

  <label for="inv_price">Price</label>
  <input type="number" id="inv_price" name="inv_price" step="0.01" value="<%= inv_price %>" readonly>

  <!-- Required hidden input -->
  <input type="hidden" name="inv_id" value="<%= inv_id %>">

  <button type="submit" class="delete-button">Delete Vehicle</button>
</form>